
@model ShopCartViewModel

    <div class="container"> 
        
        @foreach (var item in Model.ShopCart.ListShopItems) {

                 <div class="alert alert-warning mt-3">

                     <b>Auto:</b>@item.Auto.Name<br />
                     <b>Price</b>> @item.Auto.Price.ToString("c")
                 </div>
         }
        <hr/>
        <a class="btn btn-danger mb-5" asp-controller="Order" asp-action="CheCout">Pay</a>
    </div>>

