@model HomeViewModel

<h2>Favourite auto</h2>

<div class="row mt-2 md-2">
    @{
        foreach (Shop.Data.Models.Car car in Model.FavCars) {

            @Html.PartialAsync("AllCars", car).Result;
        }
    }
</div>
