<h2>All auto @Model.CurrCategory</h2>
  
    <div class="row mt-2 md-2"> 
        @{
            foreach (Shop.Data.Models.Car car in Model.AllCars) {

                @Html.PartialAsync("AllCars", car).Result;
            }
        }
    </div>
        

 